<h1>SHOUTS!</h1>
<ul>
 
  <% @shouts.each do |shout| %>
    <li>
      <%= auto_link html_escape(shout.body) %>
         <span class="time">
           <%= time_ago_in_words shout.created_at,include_seconds=true %>
         <span>
    </li>
  <% end %>
 
 </ul>
 
 
 <div class="form">

<%= form_for @shout do |form| %>
  <%= form.text_field :body %>
  <%= form.submit %>
<% end %>

</div>
